.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-content {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  &__nav {
    &-list {
      list-style: none;
      display: flex;
      gap: 3.5rem;
    }

    &-item a {
      color: #000000;
      text-decoration: none;
      transition: color 0.3s;
      margin-left: 20px;

      &:hover {
        color: #ff6060;
      }
    }
  }
}

.footer {
  background-color: #000;
  color: #fff;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: relative;
}

.footer-logo {
  max-width: 100px;
  margin-bottom: 10px;
  color: #fff;
}

.footer-text {
  font-size: 14px;
  width: 100%;
  padding: 0 20px;
}
@media (max-width: 480px) {
  .header__logo img {
    max-width: 100px;
    width: 100px;
  }

  .header__nav-list {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
    text-transform: uppercase;
  }
  .header__nav-item a {
    margin-left: -25px;
  }

  .banner-content h2 {
    font-size: 20px;
  }
}
